$color-default: #4e008e;

.escolha-itens{

    .escolha-entrega-casa{
        border: 1px solid rgb(98, 98, 98);
        border-radius: 0.5rem;
    }

    .card-entrega{
        cursor: pointer;
    }
    
    .input{

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    }

    .button-cep{
        width: 10rem;
        height: 2rem;
        margin-left: 1rem;
        color: white;
        border: 1px solid;
        border-color: $color-default;
        border-radius: 0.5rem;
        background-color: $color-default;
        text-align: center;
    }

    .card-entrega:hover{
        border: 2px solid $color-default
    }

    span{
        cursor: pointer;
    }
}