$color-default: #4e008e;
$color-secondary:#68dcfa;

.escolha-itens{

    .escolha-entrega-casa{
        border: 1px solid rgb(98, 98, 98);
        border-radius: 0.5rem;
    }

    .card-entrega{
        cursor: pointer;
    }
    
    .input{

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    }

    .button-cep{
        width: 10rem;
        height: 2rem;
        margin-left: 1rem;
        color: white;
        border: 1px solid;
        border-color: $color-default;
        border-radius: 0.5rem;
        background-color: $color-default;
        text-align: center;
    }

    .card-entrega{
        border: 2px solid  $color-default;

        &.card-1{
            border: 2px solid #9F45E8;
        }

        &.card-2{
            border: 2px solid #5958B9;
        }
    }

    .card-header{
        align-items: center;
        padding-left: 0.5rem;
        border-bottom: 2px solid  $color-default;

        &.header-1{
            border-bottom: 2px solid #9F45E8;
        }

        &.header-2{
            border-bottom: 2px solid #5958B9;
        }
    }

    

    .card-entrega:hover{
        border: 2.5px solid  $color-default;

        &.card-1{
            border: 2.5px solid #9F45E8;
        }

        &.card-2{
            border: 2.5px solid #5958B9;
        }
    }

    .card-header:hover{
        border-bottom: 2.5px solid  $color-default;

        &.header-1{
            border-bottom: 2.5px solid #9F45E8;
        }

        &.header-2{
            border-bottom: 2.5px solid #5958B9;
        }
    }

    span{
        cursor: pointer;
    }
}

@media (max-width: 767px) {
	.escolha-itens{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}