$color-default: #4e008e;

.Modal{
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    


    .info-Modal{
        background-color:#fff;
        border: 1px solid black;
        color: #000;
        width: 60%;
        height: 60%;
        border-radius: 0.8rem;

        span{
            cursor: pointer;
        }
    }

    .enderecos{
        
        & h1{
            font-size: 2rem;
        }
    }

    .info-tela-endereco{
        padding: 1rem;
    }

    .adicionar-endereco{
        span{
            text-decoration: underline;
        }
    }

    .endereco-info{
        border-top: 1px solid rgb(98, 98, 98);
        border-bottom: 1px solid rgb(98, 98, 98);
        border-radius: 0.5rem;
        margin-top: 0.4rem;
        cursor: pointer;
        padding: 1rem;

        & span{
            margin-left: 0.5rem;
        }

        .endereco{
            margin-top: 0.4rem;
        }
    }

    .endereco:hover{
        background-color:rgb(128,3,121,0.2);
        width: 100%;
        // border: 1px solid rgb(128, 3, 121, 0.8);
        border-radius: 0.5rem;
    }

    .form-endereco{
        padding: 2rem;
    }

    

    .titulo{
        border-bottom: 1px solid rgba(98, 98, 98, 0.726); 
        background-color:rgb(187, 187, 187) ;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        padding: 1rem;

        span:hover{
            color:#A10D13;
        }
    }

    .botao{
        width: 8rem;
        border-radius: 0.5rem;
        height: 2.4rem;
        background-color: $color-default;
		color: white;
    }

    .botao-confirmar{
        background-color: $color-default;
        border-radius: 0.5rem;
        color: white;
        height: 2.4rem;
        width: 13rem;
    }

}

