.order{
    width: 24rem;
    padding: 1rem;
	padding-left: 2rem;
}

@media (max-width: 767px) {
	.order{
        padding-right: 3rem;
        margin-left: 2rem;
    }
}

@media (max-width: 500px) {
	.order{
        max-width: 300px;
        padding: 0;
        align-items: center;
    }
}