.resumo-pedido {
  margin-bottom: 1rem;

  .tipo-pedido {
    justify-content: space-between;
    padding: 0.5rem;
    width: 25rem;
    padding-bottom: 0;
  }
  .tipo-info {
    padding-bottom: 0;
  }
  .tipo-pedido-info {
    padding-top: 0;
  }

  & span {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .resumo-pedido {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-left: 0.5rem;
    width: auto;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .tipo-pedido {
    max-width: 300px;
    align-items: center;
  }
}
