$color-default: #4e008e;

.resumo{

    .info{
        border-top: 1px solid rgb(98, 98, 98);
        border-bottom: 1px solid rgb(98, 98, 98);
        border-radius: 0.5rem;
        padding: 1rem;
    }

    & span{
        margin-left: 1rem;
        cursor: default;
    }

    .endereco{
        .info-instalacao{
            display: grid;
        }
    }

    .valor{
        .button-confirma{
            background-color: $color-default;
            border-radius: 0.5rem;
            color: white;
            height: 2rem;
            width: 10rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}